body {
    font-family: Roboto, sans-serif;
}

.navbar {
    background-color: black;
}

#cabecalho .nav .nav-link.active {
    background-color: #CC8105 ;
    color: #fff;
}

#cabecalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover,
.nav-catalogo .nav-link.active:hover {
    color: #fff;
}

.navbar-toggler {
    background-color: #fff;
}

.section-title {
    font-family: 'Noto Sans JP', sans-serif;
}

#sobre-o-topcars {
    background-color:aliceblue ;
}

.text-colored {
    color: #CC8105;
}

.nav-catalogo .nav-link.active{
        background-color: #CC8105 ;
        color: #fff;
}  

.nav-catalogo .nav-link:hover {
    color:#CC8105;
}