body {
    font-family: Roboto, sans-serif;
}

.navbar {
    background-color: black;
}

.nav .nav-link.active {
    background-color: #CC8105 ;
    color: #fff;
}

.nav .nav-link,
.navbar-brand,
.navbar-brand:hover {
    color: #fff;
}

.navbar-toggler {
    background-color: #fff;
}

.section-title {
    font-family: 'Noto Sans JP', sans-serif;
}

.section-title span {
    color: #CC8105;
}

#sobre-o-topcars {
    background-color:aliceblue ;
}